<mat-toolbar class="toolbar" color="primary">
  <mat-toolbar-row>
    <span>Анкета "Java-разработчик"</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="row">
  <mat-card class="mat-elevation-z3 card">
    <mat-card-content class="card-content">
      <span class="question">
       Сколько Вам лет?
      </span>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Введи свой возраст</mat-label>
        <input matInput placeholder="Возраст" [formControl]="age" ng-pattern="/^[0-9]+$/" required>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>

<div class="row">
  <mat-card class="mat-elevation-z3 card">
    <mat-card-content class="card-content">
      <span class="question">
        Какого Вы пола?
      </span>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Выбери пол</mat-label>
          <mat-select [(ngModel)]="genderSelected" name="gender" required>
            <mat-option *ngFor="let gender of genders" [value]="gender.value">
              {{gender.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>

<div class="row">
  <mat-card class="mat-elevation-z3 card">
    <mat-card-content class="card-content">
      <span class="question">
        На каком языке Вы говорите?
      </span>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Выбери язык</mat-label>
        <mat-select [(ngModel)]="languageSelected" name="lang" required>
          <mat-option *ngFor="let language of languages" [value]="language.value">
            {{language.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>

<div class="row">
  <mat-card class="mat-elevation-z3 card">
    <mat-card-content class="card-content">
      <span class="question">
        Какой у Вас опыт?
      </span>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Выбери опыт</mat-label>
        <mat-select [(ngModel)]="experienceSelected" name="exp" required>
          <mat-option *ngFor="let experience of experiences" [value]="experience.value">
            {{experience.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>

<div class="row">
  <mat-card class="mat-elevation-z3 card">
    <mat-card-content class="card-content">
      <span class="question">
        Какой язык программирования Вы знаете?
      </span>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Выбери язык программирования</mat-label>
        <mat-select [(ngModel)]="programmingLanguageSelected" name="prLang" required>
          <mat-option *ngFor="let prLang of programmingLanguages" [value]="prLang.value">
            {{prLang.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>

<div class="row">
  <mat-card class="mat-elevation-z3 card">
    <mat-card-content class="card-content">
      <span class="question">
        У вас есть рекомендация с предыдущего места работы?
      </span>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Выбери рекомендацию</mat-label>
        <mat-select [(ngModel)]="recomendationSelected" name="prLang" required>
          <mat-option *ngFor="let rec of recomendation" [value]="rec.value">
            {{rec.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>

<div class="row button-row">
  <button mat-raised-button color="primary" (click)="CalculateRes()">Проверить результат</button>
</div>

<div class="row" *ngIf="this.languageSelected && this.age.value && this.experienceSelected
                        && this.genderSelected && this.programmingLanguageSelected && this.result">
  <mat-card class="mat-elevation-z3 card">
    <mat-card-title>
      Результат
    </mat-card-title>

    <mat-card-content  class="card-content">
      {{this.result}}
    </mat-card-content>
  </mat-card>
</div>
